{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h2>Description of the project</h2>
        <p>
            This is a joint project with <a href="http://adapt2.sis.pitt.edu/wiki/Main_Page">PAWS Lab</a>
            at the University of Pittsburgh and <a href="http://cse.aalto.fi/en/research/learning_technology/">
            Learning + Technology</a> research group at Aalto University aiming at producing smart learning
            content on Python programming.
        </p>
        <p>
            The main activities are interactive Python program execution visualizations and Parson's problems.
            This site contains all the content that has been developed and is currently available. The project
            is funded by <a href="http://www.adlnet.gov">Advanced Distributed Learning</a> (ADL) Initiative.
        </p>
        <p>The project is led by <a href="http://www.pitt.edu/~peterb/">Professor Peter Brusilovsky</a>.</p>
        <p>In Aalto University, the following persons are working with the project:</p>
        <ul>
            <li><a href="https://people.aalto.fi/index.html#lauri_malmi">Professor Lauri Malmi</a></li>
            <li><a href="https://people.aalto.fi/index.html#lassi_haaranen">Lassi Haaranen</a></li>
            <li><a href="https://people.aalto.fi/index.html#teemu_sirkia">Teemu Sirkiä</a></li>
        </ul>
        <!-- <a class="btn btn-primary">About page coming soon!</a> -->
    </div>
    
    <h2>Installed tools</h2>    
    <ul id="installed_tools">
    {% for tool in tools %}
        <li><a href="{{ tool }}">{{ tool }}</a></li>
    {% endfor %}
    </ul>
    
    <h2>Installed protocols</h2>
    <ul  id="installed_protocols">
    {% for protocol in protocols %}
        <li>{{ protocol }}</li>
    {% endfor %}
    </ul>
    
    <h2>Installed content types</h2>
    <ul id="installed_content_types">
    {% for contentType in contentTypes %}
        <li>{{ contentType }}</li>
    {% endfor %}
    </ul>
    
    <h2>Installed content packages</h2>
    <div>
        {% for contentPackage in contentPackages %}
        <div class="contentPackage col-md-4">
            
            <h3 class="packageTitle bg-primary">{{ contentPackage.namespace }}</h3>
            <div class="contentPackageMain">
                <p>{{ contentPackage.meta.shortDescription }}</p>
            
            
                <div class="teaserContent">
                    <ul>        
                    {% for ex in contentPackage.meta.teaserContent %}
                        <li>
                            <a href="/html/{{ contentPackage.contentTypeNamespace }}/{{ contentPackage.namespace }}/{{ ex }}">
                                {{ ex }}
                           </a>
                       </li>
                    {% endfor %}
                    </ul>
                </div>                
                <a href="#" class="js-showContent btn btn-xs btn-primary">Show All</a>
                <div class="allContent">
                    <ul>        
                    {% for ex, content in contentPackage.meta.contents %}
                        <li>
                            <a href="/html/{{ contentPackage.contentTypeNamespace }}/{{ contentPackage.namespace }}/{{ ex }}">
                                {{ ex }}
                           </a>
                       </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>              
    
    <div style="clear: both; display: block;" class="footer">&nbsp;</div>
    
{% endblock %}
